#all{
    background-color: greenyellow;
}

.container {
    text-align: center;
}

#slide_show {
    background-color: red;
}
.carousal-content p {
    padding-top: 50px;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}

#myCarouse2 {
    background-color: #b5d0d4;
}

#myCarouse2 img {
    height: 300px;
    margin-top: 35px;
}
